.App {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; }

.App-header {
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1em; }
