@import "styles/mixins.scss";


.App {

  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  // flex-direction: column;
}

.App-header {
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1em;
}

.App-intro {
  font-size: large;
}

.location-search-input{
  background: transparent;
  border:0;
  border-bottom: 2px solid #ddd;
  padding: 10px 5px;
  width: 100%;
  color: #fff;
  font-size: 20px;
  &:focus{
    outline: 0px;
  }
}


.default{
  @include linear-gradient('bottom',#2C5364, #0F2027);
}

.clear-day{
  @include linear-gradient('bottom',#fdbb2d, #22c1c3);
}

.rain{
  @include linear-gradient('top',#191654, #43C6AC);
}

.clear-night{
  @include linear-gradient('top',#3A6073, #16222A);
}

.snow{
  @include linear-gradient('top',#d7d2cc, #304352);
}
.sleet{
  @include linear-gradient('top',#eef2f3, #8e9eab);
}
.wind{
  @include linear-gradient('top',#00223E, #FFA17F);
}
.fog{
  @include linear-gradient('top',#cbb4d4, #20002c);
}
.cloudy{
  @include linear-gradient('top',#1cefff, #c0c0aa);
}
.partly-cloudy-day{
  @include linear-gradient('top',#19547b, #ffd89b);
}

.partly-cloudy-night{
  @include linear-gradient('top',#F29492, #114357);
}

.graph
{
  margin-top: 50px;
  padding-bottom: 50px;
  overflow-x: auto;
}

.graph {
  span{
    color: rgba(255, 255, 255, 0.7)
  }
  .type-light P{
    color: rgb(26, 26, 26);
  }
  .graph-temp
  {
    color: rgba(255,255,255,0.6);
    font-size: 11px;
    i{
      display: block;
      padding-bottom: 3px;
      font-size: 15px;
    }
    &:hover{
      color: #fff;
      i{
        color: #fff;
      }
    }
  }
  .graph-knob{
    margin: 0 20px;
    cursor: pointer;
  }
}

button{
  background: none;
  padding: 10px 15px;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  &:hover{
    background: rgba(255,255,255,0.7);
  }
}


.lastMonth{
  overflow-x: auto;
  padding-bottom: 30px;
  &::-webkit-scrollbar-track
  {

    background-color: rgba(255,255,255,0.3);
  }

  &::-webkit-scrollbar
  {
    height: 4px;
    background-color: rgba(255,255,255,0.3);
  }

  &::-webkit-scrollbar-thumb
  {
    background-color: rgba(255,255,255,0.5);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
  }
}

.autocomplete-dropdown-container{
  width: 100%;
}
.weather-main-card {
  i{
    color: #fff;
  }
  p:hover{
    color: #fff;
  }
  >div:nth-child(2){
    span{
      color: rgba(255, 255, 255, 0.7);
      font-size: 0.7rem;
      margin-left:10px;
      &:hover{
        color: #fff;
      }
    }
  }
}

.iconContainer{
  margin-top:20px;
  >div:first-child{
    width: 200px;
  }

  >div:nth-child(3){
    margin-left: 7px;
    margin-bottom: 17px;
    span{
      color: rgba(255, 255, 255, 0.7);
      font-size: 0.8rem;
      margin-left: 3px;
      &:hover{
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  h1, p{
    margin:0;
  }
}

